@model RealEstateManagement.Models.SellerViewModel
@{
    ViewBag.Title = "Seller";
}
<br />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Styles/styles/listings_styles.css" />
<link rel="stylesheet" type="text/css" href="~/Styles/styles/listings_responsive.css" />
<link rel="stylesheet" type="text/css" href="~/Styles/styles/buttons.css" />
<!--===============================================================================================-->
<div class="col-lg-4 sidebar_col">
    <div class="search_box">
        @Html.ActionLink( "Add Property", "Add", "Property", new { area = "" }, new { @class = "button button-action listing_submit_button" } )
    </div>
</div>
<div class="listings">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 listings_col">
                @foreach( var item in Model.Properties )
                {
                    double price = item.HousePrice + item.LandPrice;
                    string url ="";
                    if( null != item.Photos && item.Photos.Count > 0 )
                    {
                        url = item.Photos[0];
                    }
                    <div class="listing_item">
                        <div class="listing_item_inner d-flex flex-md-row flex-column trans_300">
                            <div class="listing_image_container">
                                <div class="listing_image">
                                    <div class="listing_background"><img src="@url" alt="" class="listing_photo"></div>
                                </div>
                                <div class="featured_card_box d-flex flex-row align-items-center trans_300">
                                    <img src="~/Styles/images/tag.svg" alt="https://www.flaticon.com/authors/lucy-g">
                                    <div class="featured_card_box_content">
                                        <div class="featured_card_price_title trans_300">@item.Status</div>
                                        <div class="featured_card_price trans_300">Rs. @price</div>
                                    </div>
                                </div>
                            </div>
                            <div class="listing_content">
                                <div class="listing_title"><a href="listings_single.html">@item.Name</a></div>
                                <div class="listing_text">Land Price: @item.LandPrice <br />Apartment Price: @item.HousePrice</div>
                                <div class="rooms">
                                    <div class="room">
                                        <span class="room_title">Area</span>
                                        <div class="room_content">
                                            <div class="room_image"><img src="~/Styles/images/area.png" alt=""></div>
                                            <span class="room_number">@item.Area Sq Ft</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="room_tags">
                                    <span class="room_tag"><a href="#">@item.Type</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
