@model RealEstateManagement.Models.SellerViewModel
@{
    ViewBag.Title = "Seller";
}
<br/>
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Table/fonts/Awesome/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="~/Table/css/animate.css" />
<link rel="stylesheet" type="text/css" href="~/Table/select/select2.min.css" />
<link rel="stylesheet" type="text/css" href="~/Table/scroll/perfect-scrollbar.css"/>
<script src="~/Table/select/select2.min.js"></script>
<script src="~/Table/js/main.js"></script>
<link rel="stylesheet" type="text/css" href="~/Table/css/util.css"/>
<link rel="stylesheet" type="text/css" href="~/Table/css/main.css"/>
<link rel="stylesheet" type="text/css" href="~/Table/css/buttons.css" />
<!--===============================================================================================-->
@Html.ActionLink( "Add Property", "Add", "Property", new { area = "" }, new { @class = "btn btn-default" } )
<div class="limiter">    
    <div class="wrap-table100">
        <div class="table100">
            <table>
                <thead>
                    <tr class="table100-head">
                        <th class="column1">PropertyId</th>
                        <th class="column2">Name</th>
                        <th class="column3">Area</th>
                        <th class="column4">Type</th>
                        <th class="column6">Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach( var item in Model.Properties )
                    {
                        <tr>
                            <td class="column1">
                                @item.PropertyId
                            </td>
                            <td class="column3">
                                @item.Name
                            </td>
                            <td class="column3">
                                @item.Area
                            </td>
                            <td class="column4">@item.Type</td>
                            <td class="column6">@item.Status</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
