@model RealEstateManagement.Models.PropertyViewModel
@{
    ViewBag.Title = "Add";
}

<div class="search_box">
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="search_box_outer">
                    <div class="search_box_inner">

                        <!-- Search Box Title -->
                        <div class="search_box_title text-center">
                            <div class="search_box_title_inner">
                                <span>Add Property</span>
                            </div>
                        </div>

                        <!-- Search Arrow -->
                        <div class="search_arrow_box">
                            <div class="search_arrow_box_inner">
                                <div class="search_arrow_circle d-flex flex-column align-items-center justify-content-center"><span>Add it here</span></div>
                                <img src="~/Styles/images/search_arrow.png" alt="">
                            </div>
                        </div>

                        <!-- Search Form -->
                        @using( Html.BeginForm( "Create", "Property", FormMethod.Post, new { @class = "contact100-form validate-form", role = "form", enctype = "multipart/form-data" } ) )
                        {
                            <div class="search_box_container">
                                <ul class="dropdown_row clearfix">
                                    <li class="dropdown_item dropdown_item_5">
                                        <div class="dropdown_item_title">Property Name</div>
                                        @Html.TextBoxFor( m => m.Name )
                                    </li>
                                    <li class="dropdown_item dropdown_item_5">
                                        <div class="dropdown_item_title">Area</div>
                                        @Html.TextBoxFor( m => m.Area )
                                    </li>
                                    <li class="dropdown_item dropdown_item_5">
                                        <div class="dropdown_item_title">Category</div>
                                        @Html.DropDownListFor( m => m.Category, Model.Categories, new { @class = "dropdown_item_select short" } )
                                    </li>
                                    <li class="dropdown_item dropdown_item_5">
                                        <div class="dropdown_item_title">Minimum Land Price</div>
                                        @Html.TextBoxFor( m => m.LandPrice )
                                    </li>
                                    <li class="dropdown_item dropdown_item_5">
                                        <div class="dropdown_item_title">Minimum Apartment Price</div>
                                        @Html.TextBoxFor( m => m.HousePrice )
                                    </li>
                                </ul>
                            </div>
                            <div>
                                @Html.HiddenFor( m => m.Latitude )
                                @Html.HiddenFor( m => m.Longitude )
                                @Html.HiddenFor( m => m.church )
                                @Html.HiddenFor( m => m.school )
                                @Html.HiddenFor( m => m.train_station )
                                @Html.HiddenFor( m => m.hindu_temple )
                                @Html.HiddenFor( m => m.hospital )
                                @Html.HiddenFor( m => m.mosque )
                            </div>

                            <div class="search_box_container">
                                <ul class="dropdown_row clearfix">
                                    <li class="dropdown_item dropdown_item_6">
                                        <div class="dropdown_item_title">Browse Images</div>
                                        @Html.TextBoxFor( model => model.Images, "", new { @type = "file", @multiple = "multiple" } )
                                    </li>
                                </ul>
                            </div>

                            <div class="search_box_container">
                                <ul class="dropdown_row clearfix">
                                    <li class="dropdown_item dropdown_item_6">
                                        <div class="dropdown_item_title">Pick location</div>
                                    </li>
                                </ul>
                                <div id="map" style="width: 96%; height: 400px; border: 1px solid #fd784f; border-radius:2px; margin-left:10px"></div>
                                <input id="pac_input" class="controls" type="text" placeholder="Search Box"><br />
                            </div>
                            <div class="search_box_container">
                                <ul class="dropdown_row clearfix">
                                    <li class="dropdown_item">
                                        <div class="search_button">
                                            <input value="Add Property" type="submit" class="search_submit_button">
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
